body{
    background: lightBlue;
}

header h1 {
    padding: 7%;
    color: red;
    text-align: center;
    font-size: 4.5em;
}

.quad_inicial label input {
    text-align: center;
    font-size: 2.5em;
}

